$aqua:#99E2D0;  /* Déclaration des couleurs */
$pink:#FF79DA;
$purple:#9356DC;
$dark_grey:#5c5c5c;
$grey:#bbbbbb;
$light_grey:#ebebeb;
$ultra_light_grey:#f5f5f5;
$white:#fff;

html{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.flex{
    display: flex;
}

body{
    margin: 0;
}

.header{        /* Partie Header */
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 20px 0 10px;
    box-shadow: 0 0 15px $grey;
    &_btn{
        display: none;
        position: absolute;
        left: 0;
        border: none;
        background-color: $white;
        font-size: 20px;
    }
    &_img{
        width: 250px;
    }
}
.location{      /* Partie Localisation */
    align-items: center;
    justify-content: center;
    background-color: $light_grey;
    &_icn{
        margin-right: 25px;
        font-size: 25px;
    }
    &_p{
        color: $dark_grey;
        font-weight: 600;
        font-size: 25px;
    }
}
.explore{       /* Partie Explorer nos restaurants */
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $ultra_light_grey;
    &_title{
        margin: 50px 0 10px 0;
        font-size: 35px;
        font-weight: bold;
    }
    &_text{
        margin: 0 0 50px;
        font-size: 25px;
        color: $dark_grey;
    }
    &_btn{
        background: linear-gradient(170deg, $pink 5%, $purple 80%);
        border: none;
        border-radius: 50px;
        margin-bottom: 70px;
        box-shadow: 0 5px 10px $grey;
        &_text{
            font-size: 25px;
            color: $white;
            padding: 0 25px;
        }
    }
}