$aqua:#99E2D0;  /* Déclaration des couleurs */
$pink:#FF79DA;
$purple:#9356DC;
$light_grey:#b5b5b5;
$white:#fff;

html{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.flex{
    display: flex;
}

body{
    margin: 0;
}

.header{        /* Partie Header */
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 20px 0 10px;
    box-shadow: 0 0 15px $light_grey;
    &_btn{
       /* display: none;*/
        position: absolute;
        left: 0;
        border: none;
        background-color: $white;
        font-size: 20px;
    }
    &_img{
        width: 50%;
        min-width: 80px;
    }
}