@import "./common/variables";
@import "./common/mixins";
@import "./common/animations";

html{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.flex{
    display: flex;
}

body{
    margin: 0;
}

.loader{
    position: fixed;
    background-color: $white;
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 10;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: loader 1s both;
    animation-delay: 2s;
    &_title{
        font-family: "Shrikhand", sans-serif;
        font-size: map-get($font_size, title);

    }
    &_spinner{
        position: relative;
        padding-bottom: 100px;
        &_item{
            position: absolute;
            border-radius: 50%;
            left: -50px;
            height: 100px;
            width: 100px;
            border: 6px solid;
            &--1{
                animation: rotation 1s linear infinite;
                border-color: transparent transparent $pink $pink;

            }
            &--2{
                animation: rotation_inv 1s linear infinite;
                border-color: $purple $purple transparent transparent;
                height: 80px;
                width: 80px;
                left: -40px;
                top: 10px;
            }
            &--3{
                animation: rotation 1s linear infinite;
                border-color: transparent transparent $aqua $aqua;
                height: 60px;
                width: 60px;
                left: -30px;
                top: 20px;
            }
        }
    }
}



.header{        /* Partie Header */
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 20px 0 10px;
    box-shadow: 0 0 15px $grey;
    &_btn{
        display: none;
        position: absolute;
        left: 0;
        border: none;
        background-color: $white;
        font-size: map-get($font_size, text);
    }
    &_img{
        width: 250px;
    }
}
.location{      /* Partie Localisation */
    align-items: center;
    justify-content: center;
    background-color: lighten($grey, 20%);
    &_icn{
        margin-right: 25px;
        font-size: map-get($font_size, text);
    }
    &_text{
        color: darken(grey, 10%);
        font-weight: 600;
        font-size: map-get($font_size, text);
    }
}
.explore{       /* Partie Explorer nos restaurants */
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: lighten($grey, 25%);
    padding-bottom: $between_section;
    @include desktop-only{
        flex-direction: row;
        justify-content: space-around;
    }
    &_text{
        &_title{
            margin: 50px 0 10px 0;
            font-size: map-get($font_size, title);
            font-weight: bold;
        }
        &_subtitle{
            margin: 0 0 50px;
            font-size: map-get($font_size, text);
            color: darken(grey, 10%);
        }
    }
    &_btn{
        @include buttons;
    }
}
.function{      /* Partie Fonctionnement */
    flex-direction: column;
    flex-wrap: nowrap;
    margin-left: 20px;
    gap: 35px;
    margin-top: 20px;
    margin-bottom: $between_section;
    @include desktop-only{
        flex-direction: row;
        flex-wrap: wrap;
    }
    &_title{
        margin: $between_section 0 0 20px;
        font-size: map-get($font_size, title);
        font-weight: bold;
    }
    &_card{
        margin: 0 20px;
        max-width: 650px;
        align-items: center;
        border-radius: 25px;
        background-color: lighten($grey, 25%);
        gap: 30px;
        box-shadow: 0 5px 10px $grey;
        @include desktop-only{
            width: 450px;
        }
        &_num{
            margin-left: -20px;
            background-color: $purple;
            font-size: map-get($font_size, text);
            color: $white;
            padding: 5px 11px;
            text-align: center;
            border-radius: 100%;
        }
        &_icn{
            font-size: map-get($font_size, icn);
            color: darken($grey, 10%);
        }
        &_text{
            font-size: map-get($font_size, text);
            font-weight: bold;
        }
        &:hover{
            background-color: lighten($purple, 30%);
            .function_card_icn{
                color: $purple;
            }


        }
    }
}
.restaurant{    /* Partie Menu */
    flex-direction: column;
    background-color: lighten($grey, 25%);
    padding: $between_section 20px;
    gap: 30px;
    &_title{
        margin: 0;
        font-size: map-get($font_size, title);
        font-weight: bold;
    }
    &_cards{
        flex-wrap: wrap;
        flex-direction: column;
        gap: 30px;
        @include desktop-only{
            flex-direction: row;
        }
    }
    &_card{
        position: relative;
        flex-direction: column;
        height: 300px;
        border-radius: 20px;
        overflow: hidden;
        background-color: $white;
        text-decoration: none;
        @include desktop-only{
            width: 48%;
        }
        &_img{
            width: 100%;
            height: 220px;
            object-fit: cover;
        }
        &_new{
            position: absolute;
            right: 0;
            margin-right: 40px;
            margin-top: 20px;
            background-color: $aqua;
            color: darken($aqua, 40%);
            padding: 10px;
            border-radius: 5px;
            font-weight: bold;
            font-size: map-get($font_size, new-text);
        }
        &_text{
            justify-content: space-between;
            align-items: center;
            margin-left: 20px;
            height: 80px;
            color: $black;
            &_title{
                margin: 0;
                font-weight: bold;
                font-size: map-get($font_size, text);
            }
            &_location{
                margin: 0;
                font-size: map-get($font_size, text);
                font-weight: 100;
            }
            &_btn{
                font-size: map-get($font_size, icn);
                height: 30px;
                width: 30px;
                margin-right: 20px;
                position: relative;
                &--empty{
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                &--filled{
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: linear-gradient(170deg, $pink 5%, $purple 80%);
                    background-clip: text;
                    color: transparent;
                    opacity: 0;
                    transition: opacity 250ms;

                }
                &:hover{
                    .restaurant_card_text_btn--filled{
                        opacity: 1;
                    }
                }
            }
        }
    }
}
.footer{    /* Partie Footer */
    flex-direction: column;
    padding: 30px 0 30px 25px;
    color: $white;
    background-color: darken($grey, 50%);
    font-size: map-get($font_size, text);
    &_title{
        margin: 0 0 20px 0;
        font-family: 'Shrikhand', sans-serif;
        font-size: map-get($font_size, footer-title);
    }
    &_list{
        flex-direction: column;
        padding: 0;
        margin: 0;
        gap: 5px;
        list-style-type: none;
        font-size: map-get($font_size, footer-text);
        &_elem{
            &_icn{
                width: 25px;
                font-size: map-get($font_size, footer-icn);
            }
            &_link{
                text-decoration: none;
                color: $white;
            }
        }
    }
}