$aqua:#99E2D0;  /* Déclaration des couleurs */
$pink:#FF79DA;
$purple:#9356DC;
$grey:#b5b5b5;
$white:#fff;
$black:#000;

$font_size: (title:35px, text:25px, icn:30px, new-text:20px, foooter-icn:18px, footer-title:35px, footer-text:20px);
$between_section: 70px;
