@charset "UTF-8";
/* Déclaration des couleurs */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation_inv {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes loader {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
}

body {
  margin: 0;
}

.underline {
  text-decoration: underline #99E2D0 4px;
  text-underline-offset: 10px;
}

.header { /* Partie Header */
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 20px 0 10px;
  box-shadow: 0 0 15px #b5b5b5;
}
.header_btn {
  position: absolute;
  left: 10px;
  color: #000;
  font-size: 30px;
}
.header_img {
  width: 250px;
}

.menu {
  flex-direction: column;
  padding: 0 30px;
  background-color: whitesmoke;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
  top: -40px;
  margin-bottom: -40px;
}
.menu_img {
  width: 100%;
  max-height: 350px;
}
.menu_title {
  justify-content: space-between;
  align-items: center;
}
.menu_title_text {
  font-family: Shrikhand, sans-serif;
  font-size: 35px;
}
.menu_title_like {
  font-size: 30px;
  height: 30px;
  width: 30px;
  margin-right: 20px;
  position: relative;
}
.menu_title_like--empty {
  position: absolute;
  top: 0;
  right: 10px;
}
.menu_title_like--filled {
  position: absolute;
  top: 0;
  right: 10px;
  background: linear-gradient(170deg, #FF79DA 5%, #9356DC 80%);
  background-clip: text;
  color: transparent;
  opacity: 0;
  transition: opacity 250ms;
}
.menu_title_like:hover .menu_title_like--filled {
  opacity: 1;
}
.menu_cards {
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .menu_cards {
    flex-direction: row;
    gap: 10px;
  }
}
.menu_entree, .menu_dish, .menu_dessert {
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .menu_entree, .menu_dish, .menu_dessert {
    max-width: 33%;
    min-width: 33%;
  }
}
.menu_entree_title, .menu_dish_title, .menu_dessert_title {
  font-size: 25px;
  font-weight: 100;
  text-transform: uppercase;
  margin: 20px 0 0 0;
}
.menu_btn {
  text-decoration: none;
  background-image: linear-gradient(170deg, #FF79DA 5%, #9356DC 80%);
  border: none;
  border-radius: 50px;
  box-shadow: 0 5px 10px #b5b5b5;
  font-size: 25px;
  color: #fff;
  padding: 25px;
  transition: box-shadow 250ms;
  margin: 50px 0 70px 0;
  text-align: center;
  width: 50%;
  align-self: center;
}
.menu_btn:hover {
  box-shadow: 0 5px 10px #828282;
  background-image: linear-gradient(170deg, #ff93e1 5%, #a16be0 80%);
}
@media screen and (min-width: 992px) {
  .menu_btn {
    max-width: 25%;
  }
}

.card {
  box-shadow: 0 5px 10px #b5b5b5;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  animation: appear 1s;
  animation-fill-mode: both;
}
.card_text {
  min-width: 0;
}
.card_text_entitled {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 10px;
  font-size: 25px;
  font-weight: bold;
}
.card_text_subtitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 10px;
  font-size: 20px;
  font-weight: 100;
}
.card_right {
  align-items: center;
}
.card_right_price {
  margin: 40px 10px 0 0;
  color: #4d4d4d;
  font-weight: bold;
  font-size: 23px;
}
.card_right_confirmation {
  height: 90px;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  width: 0px;
  background-color: #ade8d9;
  color: #fff;
  transition-duration: 0.6s;
}
.card_right_confirmation_icn {
  transform: rotate(180deg);
  transition-duration: 0.6s;
}
.card:hover .card_right_confirmation {
  width: 80px;
}
.card:hover .card_right_confirmation_icn {
  transform: rotate(0deg);
}

.appear1 {
  animation-delay: 0.3s;
}

.appear2 {
  animation-delay: 0.6s;
}

.appear3 {
  animation-delay: 0.8s;
}

.footer { /* Partie Footer */
  flex-direction: column;
  padding: 30px 0 30px 25px;
  color: #fff;
  background-color: #363636;
  font-size: 25px;
}
.footer_title {
  margin: 0 0 20px 0;
  font-family: "Shrikhand", sans-serif;
  font-size: 30px;
}
.footer_list {
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 5px;
  list-style-type: none;
  font-size: 20px;
}
.footer_list_elem_icn {
  width: 25px;
  font-size: 18px;
}
.footer_list_elem_link {
  text-decoration: none;
  color: #fff;
}

/*# sourceMappingURL=menu.css.map */
