@charset "UTF-8";
/* Déclaration des couleurs */
html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
}

body {
  margin: 0;
}

.header { /* Partie Header */
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 20px 0 10px;
  box-shadow: 0 0 15px #b5b5b5;
}
.header_btn {
  display: none;
  position: absolute;
  left: 0;
  border: none;
  background-color: #fff;
  font-size: 25px;
}
.header_img {
  width: 250px;
}

.location { /* Partie Localisation */
  align-items: center;
  justify-content: center;
  background-color: #e8e8e8;
}
.location_icn {
  margin-right: 25px;
  font-size: 25px;
}
.location_p {
  color: #676767;
  font-weight: 600;
  font-size: 25px;
}

.explore { /* Partie Explorer nos restaurants */
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: whitesmoke;
  padding-bottom: 70px;
}
.explore_title {
  margin: 50px 0 10px 0;
  font-size: 35px;
  font-weight: bold;
}
.explore_text {
  margin: 0 0 50px;
  font-size: 25px;
  color: #676767;
}
.explore_btn {
  text-decoration: none;
  background-image: linear-gradient(170deg, #FF79DA 5%, #9356DC 80%);
  border: none;
  border-radius: 50px;
  box-shadow: 0 5px 10px #b5b5b5;
  font-size: 25px;
  color: #fff;
  padding: 25px;
  transition: box-shadow 250ms;
}
.explore_btn:hover {
  box-shadow: 0 5px 10px #828282;
  background-image: linear-gradient(170deg, #ff93e1 5%, #a16be0 80%);
}

.function { /* Partie Fonctionnement */
  flex-direction: column;
  margin-left: 20px;
  gap: 35px;
  margin-top: 70px;
  margin-bottom: 70px;
}
.function_title {
  margin: 0;
  font-size: 35px;
  font-weight: bold;
}
.function_card {
  margin: 0 20px;
  max-width: 650px;
  align-items: center;
  border-radius: 25px;
  background-color: whitesmoke;
  gap: 30px;
  box-shadow: 0 5px 10px #b5b5b5;
}
.function_card_num {
  margin-left: -20px;
  background-color: #9356DC;
  font-size: 25px;
  color: #fff;
  padding: 5px 11px;
  text-align: center;
  border-radius: 100%;
}
.function_card_icn {
  font-size: 30px;
  color: #9c9c9c;
}
.function_card_text {
  font-size: 25px;
  font-weight: bold;
}
.function_card:hover {
  background-color: #e4d5f6;
}
.function_card:hover .function_card_icn {
  color: #9356DC;
}

.restaurant { /* Partie Menu */
  flex-direction: column;
  background-color: whitesmoke;
  padding: 70px 20px;
  gap: 30px;
}
.restaurant_title {
  margin: 0;
  font-size: 35px;
  font-weight: bold;
}
.restaurant_card {
  flex-direction: column;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  text-decoration: none;
}
.restaurant_card_img {
  position: relative;
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.restaurant_card_new {
  position: absolute;
  right: 0;
  margin-right: 40px;
  margin-top: 20px;
  background-color: #99E2D0;
  color: #278870;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
}
.restaurant_card_text {
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  height: 80px;
  color: #000;
}
.restaurant_card_text_title {
  margin: 0;
  font-weight: bold;
  font-size: 25px;
}
.restaurant_card_text_location {
  margin: 0;
  font-size: 25px;
  font-weight: 100;
}
.restaurant_card_text_btn {
  font-size: 30px;
  background-color: #fff;
  border: none;
  height: 30px;
  width: 30px;
  margin-right: 20px;
  position: relative;
}
.restaurant_card_text_btn--nbg {
  position: absolute;
  top: 0;
  right: 0;
}
.restaurant_card_text_btn--bg {
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(170deg, #FF79DA 5%, #9356DC 80%);
  background-clip: text;
  color: transparent;
  opacity: 0;
  transition: opacity 250ms;
}
.restaurant_card_text_btn:hover .restaurant_card_text_btn--bg {
  opacity: 1;
}

.footer { /* Partie Footer */
  flex-direction: column;
  padding: 30px 0 30px 25px;
  color: #fff;
  background-color: #363636;
  font-size: 25px;
}
.footer_title {
  margin: 0 0 20px 0;
  font-family: "Shrikhand", sans-serif;
  font-size: 35px;
}
.footer_list {
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 5px;
  list-style-type: none;
  font-size: 20px;
}
.footer_list_elem_icn {
  width: 25px;
  font-size: 18px;
}
.footer_list_elem_link {
  text-decoration: none;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
